
<section class="base-info">

  <section id="loginSection"
  class="user-section"></section>

  <section id="albumSection"
    class="album-section"></section>

</section>


<section id="detailSection" class="detail-section">
  {{> photo.detail }}
</section>
