
<article class="album-section__photo">

  <a href="#" class="album-section__photo__base-info">

    <span class="album-section__photo__preview"
      style="background-image:url({{ baseImage }})"></span>

    <span class="album-section__photo__date">
      {{ date }}
    </span>

  </a>

</article>
