
<article class="album-section__photo">

  <a href="/photos/{{ id }}" class="album-section__photo__base-info">

    <span class="album-section__photo__preview"
      style="background-image:url({{ baseImage }})"></span>

    {{ date }} <br>

    {{#if text }}
      <span>{{ text }}</span>
    {{/if}}

  </a>

</article>
