
html, body {
  height: 100%;
}

html {
  font: 16px/1.42857143 "Roboto", Arial, Helvetica, sans-serif;
}

body {
  color: #3b4f62;
}

main {

  overflow: hidden;
  height: 100%;

  & > div {
    display flex;
    justify-content: space-between;


    height: 100%;
    overflow: hidden;

    position: relative;

  }

}

p {
  margin: 0 0 1em;
}
