
.detail-image {

  &__image-container {

    flex: 1 1 400px;

    width: 400px;
    height: 400px;

    display: flex;

    overflow: hidden;

    align-items: center;
    justify-content: center;

    margin-bottom: 1em;

    img {

      display: block;
      margin: auto;

    }

  }

  &__meta {

    &__id, &__date {
      display: inline-block;
    }

    &__id {
      color #16a085;
    }

    &__date {
      color: #95a5a6;
      font-size: .7em;
    }

  }

}
